.basket {
  margin: 10px auto;
  padding: 20px;
  width: 80%;
  border: 1px solid $main-color;
  background-color: white;
}

.basket__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.basket__list--item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.basket__list--item:hover {
  background-color: $b-item-hover;
}

.basket__list--item a {
  text-decoration: none;
  color: black;
}

.basket__list--item a:hover {
  text-decoration: underline $b-link-color;
  color: $b-link-color;
}

.basket__count {
  width: 50px;
}

.basket__empty {
  height: 100px;
  text-align: center;
  background-color: $b-item-hover;
  font-size: 50px;
  line-height: 100px;
  color: $b-light-font-color;
}
