.phones-page {
  width: 80%;
  min-width: 900px;
  margin: 0 auto;

  &__view-catalog {
    position: relative;
    text-align: end;

    label {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-color: whitesmoke;
    }

    label[for='card'] {
      right: 24px;
    }
  }
}

.phone-catalog {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  margin-top: 20px;

  &--list {
    grid-template-columns: 1fr;
  }

  &--card {
    grid-template-columns: repeat(5, 1fr);
  }
}
