.phone-details {
  padding: 50px 10%;

  summary:focus {
    outline: none;
    cursor: pointer;
  }

  h3 {
    display: inline-block;
    font-size: 28px;
  }
}

.phone-details__tabl {
  width: 100%;

  dt {
    margin-bottom: 10px;
  }

  dd div {
    display: flex;
  }

  dd div span {
    padding: 0 5px;
    flex-shrink: 0;
  }

  dd .dash {
    width: 100%;
    flex-shrink: 2;
    margin-bottom: 5px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  }
}
