.phone-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  &__phone {
    display: grid;
    // grid-template-columns: 120px 1fr 80px;
    // grid-template-rows: 110px;
    // width: 100%;
    margin-top: 15px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &__phone--list {
    grid-template-columns: 120px 1fr 80px;
    grid-template-rows: 110px;
    width: 100%;
  }

  &__phone--card {
    grid-template-rows: 160px 1fr 40px;
    grid-template-columns: 1fr;
    width: 19%;
  }

  &__phone:hover {
    border: 2px solid $pc-border;
  }

  &__phone--img {
    padding: 5px 10px;
  }

  &__phone--img img {
    width: 100%;
    max-height: 150px;
  }

  &__phone--info {
    padding: 10px;
  }

  &__phone--info a {
    text-decoration: none;
    font-weight: 600;
    color: $pc-h-font-color;
  }

  &__phone--buy {
    align-self: center;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    margin-right: 10px;
  }
}
