.phone-details-page {
  &__main-img {
    width: 360px;
    padding: 20px 0;
  }

  &__main-img img {
    width: inherit;
  }

  &__info {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-column-gap: 40px;
    min-width: 460px;
    text-align: justify;
    padding: 0 20px;
    background-color: #fff;
  }

  &__info--name {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $main-color;
    padding: 0 20px;
  }

  &__info--img {
    display: inline-block;
    width: 100px;
    margin: 0 20px;
    padding: 5px;
    border: 1px solid white;
  }

  &__info--img:hover {
    border: 1px solid $main-color;
    cursor: pointer;
  }

  &__info--img.select {
    border: 1px solid $main-color;
  }

  &__info--img img {
    width: 100%;
  }
}
