$main-color: rgb(255, 127, 80);
$nav-activ-color: rgba(255, 255, 255, 0.2);
$second-color: rgb(245, 245, 245);

// basket
$b-item-hover: rgb(255, 242, 235);
$b-link-color: rgb(228, 78, 24);
$b-light-font-color: rgb(175, 175, 175);

// phone card
$pc-border: rgb(255, 181, 155);
$pc-h-font-color: rgb(197, 90, 51);

