@import './variables';

@import './app';
@import './basket';
@import './filter';
@import './phoneDetails';
@import './phoneDetailsPage';
@import './phonecard';
@import './phonespage';
@import './homepage';

body {
  margin: 0;
  background-color: $second-color;
  font-family: sans-serif;
}
